/* Reset some default browser styles */
body, div, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: LIGHTGRAY;
    margin-left: 15%;  /* Space on the left */
    margin-right: 15%; /* Space on the right */
}

a {
    color: #0077CC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Left Column Styles */
#Left_Column {
    width: 27%; 
    float: left;
    padding: 20px 20px 20px 20px;  /* Removed padding from the top */
    box-sizing: border-box;
    background-color: CADETBLUE;
    border-radius: 5px;
}

/* Right Column Styles */
#Right_Column {
    width: 70%; 
    float: right;
    padding: 20px 20px 20px 20px;  /* Removed padding from the top */
    box-sizing: border-box;
    border-radius: 5px;
}

#PageTop h1 {
    font-size: 2 em;
    font-weight: bold;
    margin: 0; /* Removes any default margins */
}

#Personal_Profile img.profile {
    width: 100%;
    border-radius: 50%;
}

#Navigation {
    font-size: 2vw;
    word-wrap: break-word;  /* Wrap long words if necessary */
    overflow: hidden;  /* Hide overflowing content */
}

/* Main Content Styles */
#Contents_block {
    border-bottom: 2px solid #333; /* Added a bottom border */

}
#Content {
    float: left; 
    width: calc(100% - 40px); /* Adjusted width */
    padding: 20px;
    margin-left: 0; /* Space between columns */
}

/* Add media query for larger devices where 4vw might be too big */
@media (min-width: 768px) {
    #Navigation {
        font-size: 1.5em;  /* Adjust as needed */
    }
}

/* Media query for very small devices */
@media (max-width: 400px) {
    #Navigation {
        font-size: 3vw;  /* Adjust if necessary */
    }
}

